<!--
  Copyright 2015 MobileMan GmbH
  www.mobileman.com
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<html>
<body>
<h3>Hi ${user.userAccount.login}, wir freuen uns Sie bei uns als Mitglied zu haben</h3>

<div>
${user.name.name},

Wir danken Ihnen für die Anmeldung bei projecth, dem persönlichen, intelligenten und sozialen Tagebuch. Bitte bewahren Sie den Benutzernamen und das Passwort an einem sicheren Ort.


Bitte bestätigen Sie diesen Link https://mobileman.nine.ch/projecth/confirm/${user.activationUid} um Ihre Anmeldung abzuschlissen.

           		
Danach können Sie sich mit Ihren Zugangsdaten bei projecth.de, projecth.at oder projecth.ch anmelden und jederzeit Daten eingeben und einsehen.
</div>
<div>
------------------------------------------
Bei Fragen oder Problemen, wenden Sie sich bitte an unseren Kundendienst unter support@projecth.de, support@projecth.at oder support@projecth.ch. Wir machen Sie darauf aufmerksam, dass Sie keine eindeutig identifzierbare Informationen bei Ihrer Kommunikation verwenden sollten, damit das System anonym bleibt. Alle E-Mails werden nach Beantwortung sofort und unwiderruflich gelöscht.
          		
Ihr projecth Team                		
www.projecth.com                		
--                		
(c) 2010 projecth(r)
</div>
</body>

</html>